In [38]:
import numpy as np
import pandas as pd

In [39]:
df = pd.read_csv('resume_data.csv')

rename the column because there is an unwanted character in the column name.

In [40]:
df.rename(columns={'ï»¿job_position_name': 'job_position_name'}, inplace=True)

In [41]:
df['job_position_name'].unique()

array(['Senior Software Engineer', 'Machine Learning (ML) Engineer',
       'Executive/ Senior Executive- Trade Marketing, Hygiene Products',
       'Business Development Executive', 'Senior iOS Engineer',
       'AI Engineer', 'Mechanical Engineer', 'Mechanical Designer',
       'Asst. Manager/ Manger (Administrative)',
       'Database Administrator (DBA)',
       'System Administrator (Operation & Maintenance of Server, Storage & Service Desk System)',
       'Project Coordinator (Civil)', 'Executive/ Sr. Executive -IT',
       'Network Support Engineer',
       'Intern (Generative AI Engineering - 2D/3D Image Generation)',
       'Executive - VAT', 'Sr.Officer / Executive - Internal Audit',
       'Management Trainee - Mechanical', 'HR Officer', 'DevOps Engineer',
       'Data Engineer',
       'Head of Internal Control & Compliance (ICC) - SEVP/DMD',
       'Full Stack Developer (Python,React js)', 'Civil Engineer',
       'Data Science Engineer',
       'Manager- Human Resource Management (HRM)\n', 'Marketing Officer',
       'Site Engineer'], dtype=object)

encoding job_position_name column using the MiniLM sentence transformer(BERT variant)

In [42]:
from sentence_transformers import SentenceTransformer
import numpy as np
import pandas as pd

# Load the model once globally
model = SentenceTransformer('all-MiniLM-L6-v2')

# Text normalization: strip spaces, lowercase everything
def normalize_text(text):
    return text.strip().lower()

# Main function to encode job titles
def encode_job_titles(df, column_name='job_position_name', output_column='job_position_embedding'):
    """
    Encode normalized job titles into dense vectors and store in a new column.

    Args:
        df (pd.DataFrame): DataFrame with job titles
        column_name (str): Name of the column to encode
        output_column (str): Name of the column to store embeddings

    Returns:
        pd.DataFrame: Modified DataFrame with added embedding column
    """
    job_titles = df[column_name].fillna("").astype(str).apply(normalize_text).tolist()
    embeddings = model.encode(job_titles, show_progress_bar=True)
    
    # Store embeddings as a list in the new column
    df[output_column] = list(embeddings)  # Convert numpy array to list to store it in DataFrame
    
    return df

# Encode the job titles
df = encode_job_titles(df)

Batches:   0%|          | 0/299 [00:00<?, ?it/s]

In [43]:
df.head()

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,issue_dates,expiry_dates,job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score,job_position_embedding
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],...,NaN,NaN,Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,NaN,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.850000,"[-0.04239085, 0.060080543, 0.008971027, -0.022..."
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],...,NaN,NaN,Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),NaN,Machine Learning Leadership\nCross-Functional ...,NaN,0.750000,"[-0.04685091, -0.053898476, 0.072941825, 0.031..."
2,NaN,NaN,"['Software Development', 'Machine Learning', '...","['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['N/A'],['N/A'],['Electronics/Telecommunication'],['Axis Bank Limited'],...,NaN,NaN,"Executive/ Senior Executive- Trade Marketing, ...",Master of Business Administration (MBA),At least 3 years,NaN,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.416667,"[0.006515157, -0.03104119, 0.07214314, -0.0147..."
3,NaN,To obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...","['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,['2008'],[None],[None],['Computer Applications'],"['Company Name Ã¯Â¼ City , State', 'Company Name...",...,NaN,NaN,Business Development Executive,Bachelor/Honors,1 to 3 years,Age 22 to 30 years,Apparel Sourcing\nQuality Garment Sourcing\nRe...,Fast typing skill\nIELTSInternet browsing & on...,0.760000,"[0.008422766, 0.050051227, 0.022512438, -0.004..."
4,NaN,Professional accountant with an outstanding wo...,"['Analytical reasoning', 'Compliance testing k...",['Kent State University'],['Bachelor of Business Administration'],[None],['3.84'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name...",...,[None],"['February 15, 2021']",Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.650000,"[-0.056662183, 0.046483964, 0.05059421, -0.009..."